*.cli filter=lfs diff=lfs merge=lfs -text
OpenCode filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
opencode-cli filter=lfs diff=lfs merge=lfs -text
02_Client_Projects/Instaladores/02_Source_Code/* filter=lfs diff=lfs merge=lfs -text
