Package: open-code
Version: 1.3.0
Architecture: amd64
Installed-Size: 202477
Maintainer: Anomaly Innovations
Priority: optional
Depends: libwebkit2gtk-4.1-0, libgtk-3-0
Description: The open source AI coding agent
 (none)
