[Desktop Entry]
Categories=
Comment=The open source AI coding agent
Exec=OpenCode
StartupWMClass=OpenCode
Icon=OpenCode
Name=OpenCode
Terminal=false
Type=Application
MimeType=x-scheme-handler/opencode
